.deco__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  border-radius: 40px;
  height: 245px;
  background: #333333;
  box-shadow: -10px -10px 20px #3c3c3c, 10px 10px 20px #1e1e1e,
    inset -4px -4px 8px rgba(77, 77, 77, 0.25), inset 4px 4px 8px #1e1e1e;
}

.card {
  display: flex;
  width: 435px;
  height: 200px;
  background: #333333;
  color: #878787;
  border-radius: 40px;
  box-shadow: inset 12px 12px 24px #3e3e3e, inset -12px -12px 24px #1e1e1e;
}

.card__imgGame {
  height: 100%;
  width: 60%;
  border-radius: 40px 0 0 40px;
  object-fit: cover;
}

.card__textContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  align-items: center;
}

.card__textContent__logo {
  height: 75px;
  border-radius: 3px;
}

.card__textContent__desc {
  width: 90%;
  line-height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__textContent__desc__title {
  font-weight: 800;
  font-size: 18px;
  color: black;
  cursor: pointer;
  transition: all 0.14s ease-out;
}

.card__textContent__desc__title:hover {
  color: pink;
  font-size: 19px;
}

.card__textContent__desc__game {
  font-weight: 600;
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
}
