.page1 {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page1__title {
  text-transform: uppercase;
  text-shadow: -2px -2px 8px black, 6px 6px 12px #1e1e1e;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  color: #333333;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page1__cards {
  width: 90vw;
}
